body {
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  font-weight: 600;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  padding-top: 15px;
  font-weight: 400;
  font-size: 40px;
  text-shadow: 5px 5px 5px #c37376;
}

.dark-section {
  color: #fafafa;
  background-color: #03060d;
}

.light-section {
  color: #03060d;
  background-color: #fafafa;
}

.subtitle {
  text-align: center;
  margin: 5px 0 10px;
}

.quality-card {
  background-image: linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 100%);
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

.card-title {
  margin-bottom: 10px;
}

.card-img-container {
  width: 90%;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 10px;
}

.card-img-caption {
  font-size: 12px;
}

.card-text {
  margin-top: 15px;
  text-align: justify;
}

#intro {
  margin: 0;
}

#image {
  width: 100%;
  display: block;
  margin: -66px auto;
}

#img-caption {
  display: block;
  margin: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

#bio {
  padding: 25px 20px 15px;
  line-height: 25px;
}

#bio h2 {
  margin-bottom: 20px;
}

#bio-link {
  color: #fbc2eb;
  text-decoration: none;
  font-style: italic;
}
#bio-link:hover {
  text-decoration: underline;
}
